.Feedback__container {
  display: flex;
  list-style: none;
}

.Feedback__button {
  padding: 4px;
  margin: 8px;
  cursor: pointer;
  background-color: rgba(183 60 88, 15);
  color: #4705c0;
  border: 1px solid transparent;
  border-radius: 2px;
}

.Feedback__button:hover,
.Feedback__button:focus {
  background-color: #dde006;
  color: white;
  transform: scale(1.2);
}
